// vars
// ----------------------------------------------------------

//fonts
$default-font: "roboto-ex", sans-serif;


//colors
$accent: #f9c869;
$blue: #66c7cd;
$red: #f86868;
$dark: #1a1a1a;
$over: #1a1a1a;




